<a href="https://colab.research.google.com/github/SilaTan/House-Rents/blob/master/HouseRents.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
import numpy as np
import pandas as pd

In [ ]:
data = pd.read_csv("/content/drive/MyDrive/CSV UZANTILARIM/houses_to_rent.csv")

In [ ]:
data.head()

   Unnamed: 0  city  area  ...  property tax  fire insurance     total
0           0     1   240  ...       R$1,000           R$121   R$9,121
1           1     0    64  ...         R$122            R$11   R$1,493
2           2     1   443  ...       R$1,417            R$89  R$12,680
3           3     1    73  ...         R$150            R$16   R$2,116
4           4     1    19  ...          R$41            R$16   R$1,257

[5 rows x 14 columns]

In [ ]:
data.shape

(6080, 14)

In [ ]:
data.drop(data.columns[0],axis=1, inplace=True)
data.head()

   city  area  rooms  ...  property tax  fire insurance     total
0     1   240      3  ...       R$1,000           R$121   R$9,121
1     0    64      2  ...         R$122            R$11   R$1,493
2     1   443      5  ...       R$1,417            R$89  R$12,680
3     1    73      2  ...         R$150            R$16   R$2,116
4     1    19      1  ...          R$41            R$16   R$1,257

[5 rows x 13 columns]

In [ ]:
data["floor"].replace(to_replace="-", value=0, inplace =True)
data.head()

   city  area  rooms  ...  property tax  fire insurance     total
0     1   240      3  ...       R$1,000           R$121   R$9,121
1     0    64      2  ...         R$122            R$11   R$1,493
2     1   443      5  ...       R$1,417            R$89  R$12,680
3     1    73      2  ...         R$150            R$16   R$2,116
4     1    19      1  ...          R$41            R$16   R$1,257

[5 rows x 13 columns]

In [ ]:
data["animal"].replace(to_replace="acept", value=1, inplace =True)
data["animal"].replace(to_replace="not acept", value=0, inplace =True)
data.head()

   city  area  rooms  ...  property tax  fire insurance     total
0     1   240      3  ...       R$1,000           R$121   R$9,121
1     0    64      2  ...         R$122            R$11   R$1,493
2     1   443      5  ...       R$1,417            R$89  R$12,680
3     1    73      2  ...         R$150            R$16   R$2,116
4     1    19      1  ...          R$41            R$16   R$1,257

[5 rows x 13 columns]

In [ ]:
data["furniture"].replace(to_replace="furnished", value=1, inplace =True)
data["furniture"].replace(to_replace="not furnished", value=0, inplace =True)
data.head()

   city  area  rooms  ...  property tax  fire insurance     total
0     1   240      3  ...       R$1,000           R$121   R$9,121
1     0    64      2  ...         R$122            R$11   R$1,493
2     1   443      5  ...       R$1,417            R$89  R$12,680
3     1    73      2  ...         R$150            R$16   R$2,116
4     1    19      1  ...          R$41            R$16   R$1,257

[5 rows x 13 columns]

In [ ]:
for col in ['hoa', 'rent amount', 'property tax', 'fire insurance', 'total']:
    data[col].replace(to_replace='R\$', value='', regex=True, inplace=True)
    data[col].replace(to_replace=',', value='', regex=True, inplace=True)

In [ ]:
data.head(10)

   city  area  rooms  bathroom  ...  rent amount property tax  fire insurance  total
0     1   240      3         3  ...         8000         1000             121   9121
1     0    64      2         1  ...          820          122              11   1493
2     1   443      5         5  ...         7000         1417              89  12680
3     1    73      2         2  ...         1250          150              16   2116
4     1    19      1         1  ...         1200           41              16   1257
5     1    13      1         1  ...         2200           42              28   2270
6     1    55      1         1  ...         5000          375              64   7389
7     1    55      2         2  ...         1300           67              17   1984
8     1    82      3         1  ...         2000          109              26   2963
9     1    32      1         1  ...         2900            0              37   3470

[10 rows x 13 columns]

In [ ]:
data = data.astype(dtype=np.int64)

In [ ]:
data['hoa'].replace(to_replace='Sem info', value='0', inplace=True)

In [ ]:
data.isin(['Incluso']).any()

city              False
area              False
rooms             False
bathroom          False
parking spaces    False
floor             False
animal            False
furniture         False
hoa                True
rent amount       False
property tax       True
fire insurance    False
total             False
dtype: bool

In [ ]:
data['hoa'].replace(to_replace='Incluso', value='0', inplace=True)
data['property tax'].replace(to_replace='Incluso', value='0', inplace=True)

In [ ]:
data.head()

In [ ]:
data = data.sample(frac=1).reset_index(drop=True)
data.head()

   city  area  rooms  ...  property tax  fire insurance  total
0     1    58      2  ...             0              20   2020
1     1    20      1  ...             0              14   1044
2     1    32      1  ...           234              45   5379
3     1   145      3  ...             0              70   6970
4     1    35      1  ...             0              20   1570

[5 rows x 13 columns]

In [ ]:
data.head(10)

   city  area  rooms  ...  property tax  fire insurance  total
0     1    58      2  ...             0              20   2020
1     1    20      1  ...             0              14   1044
2     1    32      1  ...           234              45   5379
3     1   145      3  ...             0              70   6970
4     1    35      1  ...             0              20   1570
5     1   193      4  ...           917             115  11730
6     1   140      3  ...           167              65   7332
7     1   300      4  ...            33              49   4432
8     0    70      1  ...            59              13   1592
9     1   160      4  ...           500              87   8587

[10 rows x 13 columns]

In [ ]:
y = data["city"]
X = data.drop("city",axis=1)

In [ ]:
X

      area  rooms  bathroom  ...  property tax  fire insurance  total
0       58      2         1  ...             0              20   2020
1       20      1         1  ...             0              14   1044
2       32      1         1  ...           234              45   5379
3      145      3         3  ...             0              70   6970
4       35      1         1  ...             0              20   1570
...    ...    ...       ...  ...           ...             ...    ...
6075    54      2         1  ...             0              26   2562
6076    30      1         1  ...           167              28   2045
6077   450      5         5  ...          1345             143  10990
6078   800      4         7  ...          1667             181  13850
6079   330      4         3  ...          1084             127  15610

[6080 rows x 12 columns]

In [ ]:
from sklearn.preprocessing import MinMaxScaler

In [ ]:
scaler = MinMaxScaler()

In [ ]:
scaler.fit(X)
X = scaler.transform(X)

In [ ]:
X

array([[1.95153684e-03, 1.11111111e-01, 0.00000000e+00, ...,
        0.00000000e+00, 2.52225519e-02, 3.65552091e-03],
       [4.06570174e-04, 0.00000000e+00, 0.00000000e+00, ...,
        0.00000000e+00, 1.63204748e-02, 1.03214708e-03],
       [8.94454383e-04, 0.00000000e+00, 0.00000000e+00, ...,
        6.38820639e-04, 6.23145401e-02, 1.26841200e-02],
       ...,
       [1.78890877e-02, 4.44444444e-01, 4.44444444e-01, ...,
        3.67185367e-03, 2.07715134e-01, 2.77658316e-02],
       [3.21190437e-02, 3.33333333e-01, 6.66666667e-01, ...,
        4.55091455e-03, 2.64094955e-01, 3.54531771e-02],
       [1.30102456e-02, 3.33333333e-01, 2.22222222e-01, ...,
        2.95932296e-03, 1.83976261e-01, 4.01838512e-02]])

In [ ]:
pd.DataFrame(X)

            0         1         2   ...        9         10        11
0     0.001952  0.111111  0.000000  ...  0.000000  0.025223  0.003656
1     0.000407  0.000000  0.000000  ...  0.000000  0.016320  0.001032
2     0.000894  0.000000  0.000000  ...  0.000639  0.062315  0.012684
3     0.005489  0.222222  0.222222  ...  0.000000  0.099407  0.016961
4     0.001016  0.000000  0.000000  ...  0.000000  0.025223  0.002446
...        ...       ...       ...  ...       ...       ...       ...
6075  0.001789  0.111111  0.000000  ...  0.000000  0.034125  0.005112
6076  0.000813  0.000000  0.000000  ...  0.000456  0.037092  0.003723
6077  0.017889  0.444444  0.444444  ...  0.003672  0.207715  0.027766
6078  0.032119  0.333333  0.666667  ...  0.004551  0.264095  0.035453
6079  0.013010  0.333333  0.222222  ...  0.002959  0.183976  0.040184

[6080 rows x 12 columns]

In [ ]:
from sklearn.model_selection import train_test_split

In [ ]:
X_train , X_test, y_train, y_test = train_test_split(X,y, train_size=0.8)

In [ ]:
X_train.shape

(4864, 12)

In [ ]:
from sklearn.linear_model import LogisticRegression
from sklearn.svm import SVC
from sklearn.neural_network import MLPClassifier

In [ ]:
log_model = LogisticRegression(penalty="l2", verbose=1)

In [ ]:
svm_model = SVC(kernel="rbf", verbose=1)

In [ ]:
nn_model = MLPClassifier(hidden_layer_sizes=(16, 16), activation='relu', solver='adam', verbose=1)

In [ ]:
log_model.fit(X_train, y_train)
svm_model.fit(X_train, y_train)
nn_model.fit(X_train, y_train)

[Parallel(n_jobs=1)]: Using backend SequentialBackend with 1 concurrent workers.
[Parallel(n_jobs=1)]: Done   1 out of   1 | elapsed:    0.0s finished

[LibSVM]Iteration 1, loss = 0.58189347
Iteration 2, loss = 0.48956568
Iteration 3, loss = 0.42475631
Iteration 4, loss = 0.40036492
Iteration 5, loss = 0.39482441
Iteration 6, loss = 0.39256297
Iteration 7, loss = 0.39087365
Iteration 8, loss = 0.38936699
Iteration 9, loss = 0.38813001
Iteration 10, loss = 0.38691014
Iteration 11, loss = 0.38553800
Iteration 12, loss = 0.38416075
Iteration 13, loss = 0.38272472
Iteration 14, loss = 0.38094371
Iteration 15, loss = 0.37915133
Iteration 16, loss = 0.37791465
Iteration 17, loss = 0.37578625
Iteration 18, loss = 0.37404064
Iteration 19, loss = 0.37234498
Iteration 20, loss = 0.37081592
Iteration 21, loss = 0.36904549
Iteration 22, loss = 0.36764989
Iteration 23, loss = 0.36597089
Iteration 24, loss = 0.36432223
Iteration 25, loss = 0.36313131
Iteration 26, loss = 0.36209298
Iteration 27, loss = 0.36054127
Iteration 28, loss = 0.35945806
Iteration 29, loss = 0.35840918
Iteration 30, loss = 0.35714877
Iteration 31, loss = 0.35607524
Iteration 32, loss = 0.35520801
Iteration 33, loss = 0.35425621
Iteration 34, loss = 0.35345009
Iteration 35, loss = 0.35263878
Iteration 36, loss = 0.35165470
Iteration 37, loss = 0.35081348
Iteration 38, loss = 0.35038189
Iteration 39, loss = 0.34960681
Iteration 40, loss = 0.34916849
Iteration 41, loss = 0.34881491
Iteration 42, loss = 0.34773449
Iteration 43, loss = 0.34732223
Iteration 44, loss = 0.34656706
Iteration 45, loss = 0.34594900
Iteration 46, loss = 0.34557644
Iteration 47, loss = 0.34495378
Iteration 48, loss = 0.34459078
Iteration 49, loss = 0.34409439
Iteration 50, loss = 0.34450557
Iteration 51, loss = 0.34328368
Iteration 52, loss = 0.34290120
Iteration 53, loss = 0.34270075
Iteration 54, loss = 0.34270772
Iteration 55, loss = 0.34126722
Iteration 56, loss = 0.34147903
Iteration 57, loss = 0.34100425
Iteration 58, loss = 0.34062284
Iteration 59, loss = 0.33995514
Iteration 60, loss = 0.33967778
Iteration 61, loss = 0.33936042
Iteration 62, loss = 0.33917119
Iteration 63, loss = 0.33851411
Iteration 64, loss = 0.33894273
Iteration 65, loss = 0.33808691
Iteration 66, loss = 0.33727420
Iteration 67, loss = 0.33727729
Iteration 68, loss = 0.33715824
Iteration 69, loss = 0.33696161
Iteration 70, loss = 0.33585440
Iteration 71, loss = 0.33555803
Iteration 72, loss = 0.33476336
Iteration 73, loss = 0.33402989
Iteration 74, loss = 0.33335553
Iteration 75, loss = 0.33290387
Iteration 76, loss = 0.33199948
Iteration 77, loss = 0.33216981
Iteration 78, loss = 0.33117634
Iteration 79, loss = 0.33114530
Iteration 80, loss = 0.33017387
Iteration 81, loss = 0.32961132
Iteration 82, loss = 0.32885751
Iteration 83, loss = 0.32877163
Iteration 84, loss = 0.32802391
Iteration 85, loss = 0.32753257
Iteration 86, loss = 0.32741375
Iteration 87, loss = 0.32697992
Iteration 88, loss = 0.32628543
Iteration 89, loss = 0.32592438
Iteration 90, loss = 0.32567812
Iteration 91, loss = 0.32518588
Iteration 92, loss = 0.32472284
Iteration 93, loss = 0.32484216
Iteration 94, loss = 0.32385265
Iteration 95, loss = 0.32374984
Iteration 96, loss = 0.32319872
Iteration 97, loss = 0.32299070
Iteration 98, loss = 0.32250265
Iteration 99, loss = 0.32225084
Iteration 100, loss = 0.32168721
Iteration 101, loss = 0.32188714
Iteration 102, loss = 0.32114921
Iteration 103, loss = 0.32095137
Iteration 104, loss = 0.32086736
Iteration 105, loss = 0.31995390
Iteration 106, loss = 0.32035486
Iteration 107, loss = 0.32004728
Iteration 108, loss = 0.31950596
Iteration 109, loss = 0.31975528
Iteration 110, loss = 0.31885053
Iteration 111, loss = 0.31863684
Iteration 112, loss = 0.31810066
Iteration 113, loss = 0.31787591
Iteration 114, loss = 0.31800105
Iteration 115, loss = 0.31921406
Iteration 116, loss = 0.31697742
Iteration 117, loss = 0.31720088
Iteration 118, loss = 0.31669902
Iteration 119, loss = 0.31656504
Iteration 120, loss = 0.31613270
Iteration 121, loss = 0.31604074
Iteration 122, loss = 0.31583574
Iteration 123, loss = 0.31548070
Iteration 124, loss = 0.31517940
Iteration 125, loss = 0.31591237
Iteration 126, loss = 0.31496086
Iteration 127, loss = 0.31495780
Iteration 128, loss = 0.31453998
Iteration 129, loss = 0.31413236
Iteration 130, loss = 0.31403325
Iteration 131, loss = 0.31414805
Iteration 132, loss = 0.31445037
Iteration 133, loss = 0.31470993
Iteration 134, loss = 0.31298543
Iteration 135, loss = 0.31353879
Iteration 136, loss = 0.31242465
Iteration 137, loss = 0.31216945
Iteration 138, loss = 0.31216510
Iteration 139, loss = 0.31219588
Iteration 140, loss = 0.31166661
Iteration 141, loss = 0.31122551
Iteration 142, loss = 0.31203905
Iteration 143, loss = 0.31069114
Iteration 144, loss = 0.31057542
Iteration 145, loss = 0.31027887
Iteration 146, loss = 0.31019788
Iteration 147, loss = 0.31056435
Iteration 148, loss = 0.31007858
Iteration 149, loss = 0.30939863
Iteration 150, loss = 0.30899859
Iteration 151, loss = 0.30879212
Iteration 152, loss = 0.30887716
Iteration 153, loss = 0.30900203
Iteration 154, loss = 0.30791752
Iteration 155, loss = 0.30755721
Iteration 156, loss = 0.30830984
Iteration 157, loss = 0.30855874
Iteration 158, loss = 0.30817786
Iteration 159, loss = 0.30672291
Iteration 160, loss = 0.30626155
Iteration 161, loss = 0.30635342
Iteration 162, loss = 0.30638094
Iteration 163, loss = 0.30639398
Iteration 164, loss = 0.30629636
Iteration 165, loss = 0.30581029
Iteration 166, loss = 0.30512538
Iteration 167, loss = 0.30507858
Iteration 168, loss = 0.30537615
Iteration 169, loss = 0.30508782
Iteration 170, loss = 0.30524518
Iteration 171, loss = 0.30509236
Iteration 172, loss = 0.30407715
Iteration 173, loss = 0.30394107
Iteration 174, loss = 0.30387519
Iteration 175, loss = 0.30400325
Iteration 176, loss = 0.30363916
Iteration 177, loss = 0.30360905
Iteration 178, loss = 0.30277027
Iteration 179, loss = 0.30273107
Iteration 180, loss = 0.30253555
Iteration 181, loss = 0.30376564
Iteration 182, loss = 0.30375053
Iteration 183, loss = 0.30216191
Iteration 184, loss = 0.30257014
Iteration 185, loss = 0.30199101
Iteration 186, loss = 0.30218057
Iteration 187, loss = 0.30161079
Iteration 188, loss = 0.30189533
Iteration 189, loss = 0.30132026
Iteration 190, loss = 0.30137381
Iteration 191, loss = 0.30181417
Iteration 192, loss = 0.30104559
Iteration 193, loss = 0.30151470
Iteration 194, loss = 0.30128700
Iteration 195, loss = 0.30036317
Iteration 196, loss = 0.30025641
Iteration 197, loss = 0.30013091
Iteration 198, loss = 0.29962092
Iteration 199, loss = 0.30032707
Iteration 200, loss = 0.29969373

/usr/local/lib/python3.7/dist-packages/sklearn/neural_network/_multilayer_perceptron.py:696: ConvergenceWarning: Stochastic Optimizer: Maximum iterations (200) reached and the optimization hasn't converged yet.
  ConvergenceWarning,

MLPClassifier(hidden_layer_sizes=(16, 16), verbose=1)

In [ ]:
print(log_model.score(X_test, y_test))
print(svm_model.score(X_test, y_test))
print(nn_model.score(X_test, y_test))

0.8618421052631579
0.8618421052631579
0.881578947368421

In [ ]:
log_pred = log_model.predict(X_test)
svm_pred = svm_model.predict(X_test)
nn_pred = nn_model.predict(X_test)

In [ ]:
from sklearn.metrics import f1_score
print(f1_score(log_pred, y_test))
print(f1_score(svm_pred, y_test))
print(f1_score(nn_pred,y_test))

0.9257950530035335
0.9257950530035335
0.9350180505415163